/Makefile
Makefile.old
/blib/
pm_to_blib
tmon.out
nytprof/
nytprof.out
MYMETA.*
tags
opts.coverage
ack-standalone
ack-standalone.bat
stderr.log
stdout.log
.timings.json
xt/.perlcritic-history
completion.bash
completion.zsh
